- name: Install and start nginx
  hosts: all
  become: true

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Start nginx
      service:
        name: nginx
        state: started
		
		

ansible-playbook -i inventory playbook.yaml

on target server: systemctl status nginx
